{% extends 'base.html' %}

{% block content %}

<div class = row>
    <div class = "col"></div>
    <div class = "col-6">
        <form action = "" method = "post">
            <div class = "alert alert-info">Please enter your account information</div>
                {% csrf_token %}
            <label>Username : <input type="text" name="username"></label>
            <label>Password : <input type="passwrd" name="password"></label>
            <label>Repeat Password : <input type="password" name="password2"></label>
        <input type="submit" value="Sign up" class="btn btn-outline-info">
        </form>
    </div>
    <div class="col"></div>
</div>
{% endblock %}