<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
</head>

<body>
    <h1>{% block title %}
        여기가 타이틀
        {% endblock %} - Layout Title
    </h1>

    <h2>
        {% block title2 %}
        {% endblock %} - Layout Title2
    </h2>

    <div class="section">
        {% block section %}
        this is SECTION
        {% endblock %}
    </div>

    {% block outer_block %}
    <h3>
        {% block inner_block %}{% endblock inner_block %} -
    </h3>
    {% endblock outer_block %}

    {% block footer %}
    <p>&copy; Copyright ...</p>
    {% endblock %}
</body>

</html>